/* ==========================================
   VISUAL EFFECTS
   Elevation (drop shadows) and glow utilities
   ========================================== */

:root {
  /* Elevation */
  --effect-elevation-1: 0px 0px 0px 1px #00000005, 1px 1px 4px 0px #00000014;
  --effect-elevation-2: 1px 1px 2px 0px #0000000a, 2px 2px 5px 0px #0000000a, 4px 4px 10px 0px #00000003;
  --effect-elevation-3: 1px 1px 3px 0px #00000012, 3px 3px 6px 0px #0000000a, 5px 5px 12px 0px #00000008, 3px 3px 4px 0px #00000005;
  --effect-elevation-4: 1px 2px 4px 0px #00000014, 4px 4px 7px 0px #0000000a, 6px 7px 14px 0px #0000000a, 3px 3px 7px 0px #00000005;
  
  /* Glow */
  --effect-glow-1: 0px 0px 4px 0px #ffffff24;
  --effect-glow-2: 0px 0px 10px 1px #ffffff24, 0px 0px 4px -1px #ffffff40;
  --effect-glow-3: 0px 0px 25px 0px #ffffff14, 0px 0px 12px 0px #ffffff33, 0px 0px 6px -2px #ffffffff;
  --effect-glow-4: 0px 0px 20px 0px #ffffff40, 0px 0px 20px 0px #ffffff1f, 0px 0px 1px 0px #ffffff80, 0px 0px 10px -1px #ffffff80;
}

@layer components {
  /* ==========================================
     ELEVATION STYLES (Drop Shadows)
     Material Design elevation system
     ========================================== */

  .elevation-1 {
    box-shadow: var(--effect-elevation-1);
  }

  .elevation-2 {
    box-shadow: var(--effect-elevation-2);
  }

  .elevation-3 {
    box-shadow: var(--effect-elevation-3);
  }

  .elevation-4 {
    box-shadow: var(--effect-elevation-4);
  }

  /* ==========================================
     GLOW STYLES (Light/White Shadows)
     Glow effects for dark backgrounds
     ========================================== */

  .glow-1 {
    box-shadow: var(--effect-glow-1);
  }

  .glow-2 {
    box-shadow: var(--effect-glow-2);
  }

  .glow-3 {
    box-shadow: var(--effect-glow-3);
  }

  .glow-4 {
    box-shadow: var(--effect-glow-4);
  }
}
