---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.svelte";
import Container from "../components/Container.astro";
import Heading from "../components/Heading.svelte";
import HomepageProjectList from "../components/HomepageProjectList.astro";
import SiteFooter from "../components/SiteFooter.svelte";
import ContactUs from "../components/ContactUs.svelte";
import { getHomepageProjectEntries } from "../lib/projectContent";

const projects = await getHomepageProjectEntries();
---

<BaseLayout title="Invisible Sloth" description="Invisible Sloth projects">
	<SiteHeader homeHref="/" />

	<main class="site-main">
		<section class="section">
			<Container padded={false} size="md" class="stack">
				<div class="measure--content text-center">
					<Heading level="h1" text="What’s up at Invisible&nbsp;Sloth?" />
				</div>

				<HomepageProjectList projects={projects} />
			</Container>
		</section>
	</main>

	<SiteFooter homeHref="/" ariaLabel="Invisible Sloth home">
		<ContactUs />
	</SiteFooter>
</BaseLayout>
