---
import SiteChrome from "../layouts/SiteChrome.astro";
import Container from "../components/Container.astro";
import Heading from "../components/Heading.svelte";
import HomepageProjectList from "../components/HomepageProjectList.astro";
import { getHomepageProjectEntries } from "../lib/projectContent";

const projects = await getHomepageProjectEntries();
---

<SiteChrome title="Invisible Sloth" description="Invisible Sloth projects">
	<main class="site-main">
		<section class="section">
			<Container padded={false} size="md" class="stack">
				<div class="measure--content spacing-outer-inline text-center">
					<Heading level="h1" text="What’s up at Invisible&nbsp;Sloth?" />
				</div>

				<HomepageProjectList projects={projects} />
			</Container>
		</section>
	</main>
</SiteChrome>
